@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	background-image: $blue-red-gradient;
	font-size: 1.6rem;
	min-height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 1000px;
	height: 600px;
}

.info {
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	h1 {
		margin-bottom: 10px;
		font-size: 60px;
	}
}

.ball {
	position: relative;
	height: 250px;
	.ball-img {
		position: absolute;
		top: 30px;
		left: 300px;
		width: 300px;
		cursor: pointer;
	}
}

.question-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 24px;
	h2 {
		margin-bottom: 10px;
		font-size: 36px;
		text-transform: uppercase;
	}
	.question-input {
		padding: 10px 20px;
		width: 80%;
		font-size: 20px;
		border: 2px solid #333;
		border-radius: 8px;
	}
	.answer {
		margin-top: 30px;
		span {
			font-weight: bold;
		}
	}
	.error {
		color: $green;
		font-weight: bold;
	}
}

.shake-animaton {
	animation: shake 1s 1;
}

@keyframes shake {
	0% {
		left: 290px;
	}

	20% {
		left: 340px;
	}

	40% {
		left: 290px;
	}

	60% {
		left: 340px;
	}

	80% {
		left: 290px;
	}

	100% {
		left: 300px;
	}
}
