@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	background-image: $blue-red-gradient;
	font-size: 1.6rem;
	min-height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 1000px;
	height: 600px;
	padding: .6em .6em;
}

.info {
	text-align: center;
	font-size: 2.4rem;
	h1 {
		margin-bottom: .3em;
		font-size: 4rem;
	}
}

.ball {
	position: relative;
	height: 250px;
	.ball-img {
		position: absolute;
		top: 10%;
		left: 20%;
		transform: translateX(-20%);
		width: 250px;
		cursor: pointer;
	}
}

.question-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	text-align: center;
	h2 {
		margin-bottom: .5em;
		font-size: 2.4rem;
		text-transform: uppercase;
	}
	.question-input {
		padding: .5em 1em;
		width: 80%;
		font-size: 2rem;
		border: 2px solid #333;
		border-radius: .5em;
	}
	.answer {
		margin-top: 1.4em;
		span {
			font-weight: bold;
		}
	}
	.error {
		color: $green;
		font-weight: bold;
	}
}

.shake-animaton {
	animation: shake 1s 1;
}

@keyframes shake {
	0% {
		left: 18%;
	}

	20% {
		left: 22%;
	}

	40% {
		left: 18%;
	}

	60% {
		left: 21%;
	}

	80% {
		left: 20%;
	}

	100% {
		left: 21%;
	}
}

@import 'small';
@import 'medium';
@import 'large';
